# Dependencies
node_modules

# Build output
dist

# Database
data/
*.db
*.db-wal
*.db-shm

# Environment variables
.env
.env.local

# Turbo
.turbo

# Trigger.dev
.trigger

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
